<div>
    <h2 translate="bookstoreApp.book.home.title">Books</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="bookstoreApp.book.home.createLabel">Create new Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="bookstoreApp.book.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="bookstoreApp.book.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publicationDate"><span translate="bookstoreApp.book.publicationDate">PublicationDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="bookstoreApp.book.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author.name"><span translate="bookstoreApp.book.author">author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books track by book.id">
                    <td><a ui-sref="book.detail({id:book.id})">{{book.id}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.description}}</td>
                        <td>{{book.publicationDate | date:'mediumDate'}}</td>
                    <td>{{book.price}}</td>
                    <td>
                        <a ui-sref="author.detail({id:book.author.id})">{{book.author.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book.detail({id:book.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
